<style>

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  </style>
  

                    <!-- navbar -->

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <!-- sidebar -->
                      <div id="mySidebar" class="sidebar">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                          <a href="#">About</a>
                          <a href="#">Services</a>
                          <a href="#">Clients</a>
                          <a href="#">Contact</a>
                        </div>
                        
                        <div id="main">
                          <button class="openbtn" onclick="openNav()">☰</button>  
                        </div>
                        
                      <!-- sidebar   end -->
                      <a class="navbar-brand" href="/">P H I C</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select City
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Karachi</a>
                                <a class="dropdown-item" href="#">Islamabad</a>
                                <a class="dropdown-item" href="#">Lahore</a>
                              </div>
                            </li>
                            <form class="form-inline my-2 "  style=".border: #111 1px solid;  width: 800px;">
                              <input class="form-control mr-sm-2 col-10" type="search" placeholder="Search hospitals, labs, disease, doctors...." aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                En
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Urdu</a>
                                <a class="dropdown-item" href="#">Arabic</a>
                              </div>
                            </li>

                        <% if (loginUser) {%>
                          <li class="nav-item">
                               <a class="nav-link" style="font-weight: 900;"> <%= loginUser %> </a> 
                          </li>
                          <li class="nav-item">
                               <a class="nav-link" href="/logout"> Logout </a> 
                          </li>
                        <% }  else { %>
                          <li class="nav-item">
                            <a class="nav-link" href="/login">Sign In</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="/signUp">Sign Up</a>
                          </li>
                        <%  }  %>
                        </ul>
                      </div>
                    </nav>
  
                    <!-- ------------------------------------ -->                    
                                      <script>
                                        function openNav() {
                                          document.getElementById("mySidebar").style.width = "250px";
                                          document.getElementById("main").style.marginLeft = "250px";
                                        }
                                        
                                        function closeNav() {
                                          document.getElementById("mySidebar").style.width = "0";
                                          document.getElementById("main").style.marginLeft= "0";
                                        }
                                        </script>
                    <!-- -------------------------------------------- -->
