<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <!-- Footer icon -->
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
          <!-- font  family -->
          <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="font-family: 'Roboto';" >

    <div class="" style=".border: 1px red solid; margin-left: 100px; margin-top: 100px;  max-width: 400px;">
    <h1  style="font-weight: 900; font-size: 60px;"> Everyday life, made simple.</h1>
    <p style="font-size: large;">Ride, order food, shop, pay or become a Captain.
      Careem is a hassle-free, one stop solution for your
      daily needs.</p>
      <div class="mt-5">
        <div> <a href=""> <img src="/images/app-store.png" alt="app-store" width="130px"></a>
             <a href=""> <img src="/images/google-play-badge.png" alt="play-store" width="150px"></a></div>
      </div>
    </div>

    <br> <br> <br> <br> <br> <br> <br> <br>

    <div class=""  style="background-color: whitesmoke;">
      <br>  
      <center>
        <h1 style="font-weight: 500;">One app for everyday needs </h1>
      </center>
      <br>  <br>
      <div style=" display: flex; justify-content: space-around;">
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">Book Appointment</h4> </a> </div>
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">My Appointment</h4> </a> </div>
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">Lab Reports</h4> </a> </div>
      </div>
    <br>  <br>  <br>
      <div style="display: flex; justify-content: space-around;">
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">All Hospitals</h4> </a> </div>
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">All Disease</h4> </a> </div>
        <div style="border: grey 2px groove; width: 200px; text-align: center; height: 200px; border-radius: 15px; background-color: white;"> <a href=""> <h4 style="margin-top: 40%;">Consult Online</h4> </a> </div>
      </div>
      
      <br> <br> <br> <br> 
    </div>


</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</html>
